<% include ../partials/header2 %>
	<h1>Lemme edit your place!</h1>
	<p>
		<form action="/places/<%= place._id%>?_method=put" method="POST">
			<div>
				<label for="name">Name:</label>
				<input type="text" name="name" id="name" value="<%= place.name %>">
			</div>
			<div>
				<label for="address">Address:</label>
				<input type="text" name="address" id="address" value="<%= place.address %>">
			</div>
			<div>
				<label for="city">City:</label>
				<input type="text" name="city" id="city" value="<%= place.city %>">
			</div>
			<div>
				<label for="state">State:</label>
				<input type="text" name="state" id="state" value="<%= place.state %>">
			</div>
			<div>
				<label for="phone">Phone:</label>
				<input type="text" name="phone" id="phone" value="<%= place.phone %>">
			</div>
			<div>
				<input type="submit" value="Update!">
			</div>
		</form>
		
		<form action="/places/<%= place._id %>?_method=DELETE" method="POST">
			<input type="submit" value="DELETE">
		</form>
	</p>
<% include ../partials/footer %>