<% include ../partials/header2 %>
	<h1>Lemme see your place (in detail)!</h1>
	
	<!-- MAKE EDIT ONLY VISIBLE TO ADMIN???? -->
	<p>
		<a href="/places/<%= place._id%>/edit">Edit this place</a>
		<form action="/places/<%= place._id %>?_method=DELETE" method="POST">
			<input type="submit" value="DELETE">
		</form>
	</p>


	<p>
		<h2><%= place.name %></h2>
		<p>Address:
			<ul><%= place.address %></ul>
			<ul><%= place.city %>, <%= place.state %></ul>
		</p>
		<p>Phone:
			<ul><%= place.phone %></ul>
		</p>
		<p>Hours:</p>
			<ul></ul>
		<p>Google+ Rating: <%= place.gRating %></p>
		<p>Yelp Rating: <%= place.yRating %></p>
		<p>Our Rating: <%= place.ourRating %></p>
	</p>
	<p>
		<h3><a href="/places/<%= place.id%>/reviews/"><%= place.name %>'s reviews: </a></h3>
			<% reviews.forEach(function(review){ %>
			<p>
				<a href="/places/<%= place._id%>/reviews/<%= review.id %>">	<%= review.title %></a>
			</p>
			<p>
				Rating: <%= review.rating %>
			</p>
			<% }) %>
	</p>

	<p>
		<a href="/places/<%= place._id%>/reviews/new">Add a new review</a>
	</p>
	<p>
		<a href="/places">See all places</a>
	</p>
<% include ../partials/footer %>